{% extends "base.html" %}

{% block title %}Education{% endblock %}

{% block content %}
<div class="section">
  <h2>Education</h2>

  <ul class="education-list">
    <li>
      <strong>Master of Science in Computer Science</strong><br>
      <span class="edu-institute">University of Bridgeport, Connecticut, USA</span><br>
      <span class="edu-dates">Jan 2024 – Dec 2025</span>
    </li>

    <li>
      <strong>Bachelor of Technology in Electronics & Communication Engineering</strong><br>
      <span class="edu-institute">St Martins Engineering College, India</span><br>
      <span class="edu-dates">July 2017 – Sep 2021</span>
    </li>
  </ul>
</div>
{% endblock %}
